* {
  margin: 0px;
}


img{
  background-image: url("img/web-hero.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
